* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: IranYekan-bold;
    src: url(../../fonts/IRANYekanWeb-ExtraBold.eot);
    src: url(../../fonts/IRANYekanWeb-ExtraBold.woff);
    src: url(../../fonts/IRANYekanWeb-ExtraBold.woff2);
    font-family: iranyekan-medium ;
    src: url(../../fonts/IRANYekanWeb-Medium.eot);
    src: url(../../fonts/IRANYekanWeb-Medium.ttf);
    src: url(../../fonts/IRANYekanWeb-Medium.woff);
    src: url(../../fonts/IRANYekanWeb-Medium.woff2);
}
:root{
    --fontfamilyB:IranYekan-bold;
    --fontfamilyM: iranyekan-medium;
}
.wrapper{
    width: 100%;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    font-size: 14px;
    color: #2b2b2b;
    font-weight: bold;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: #2b2b2b;
    transition: 300ms;

}
 .swiper-pagination-bullet-active{
    width: 20px !important;
    height: 5px;
    background-color: whitesmoke !important;
    border-radius: 3px;

}