.slider-amazings {
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: center;
  .slider-amaizngs-center {
    width: 90%;
    height: inherit;

    .swiper {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .swiper-slide {
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
      }
      text-align: center;
      font-size: 18px;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0px 0px 7px 7px;
    }
    .swiper-button-next {
      position: absolute;
      right: 100px;
      top: 350px;
    }
    .swiper-button-prev {
      position: absolute;
      top: 350px;
      right: 50px;
    }
  }
}
